// Font Size
$paragraphFontSizeMax: 36px;
$paragraphIpad: 90px;

// Colors
$red: #c62828;
$darkred: #720000;
$black: rgb(29,29,29);
$yellow: rgb(255,212,0);
$green: #5EBB48;
$pink: rgb(219, 124, 178);
$lightblue: #A4DBDE;